# =========================
# Java / Maven / Gradle
# =========================
/target/
*.jar
*.war
*.ear
/build/
!/src/main/**/build/
!/src/test/**/build/
!/src/main/**/target/
!/src/test/**/target/
.gradle/
dependency-reduced-pom.xml
.dump.rdb
.flattened-pom.xml

# =========================
# IDE Files
# =========================

## STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

## NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code ###
.vscode/

# =========================
# OS / temp / system files
# =========================
.DS_Store
*~
*.sw?
.#*
.*.md.html
.attach_pid*

# =========================
# Misc / project-specific
# =========================
MANIFEST.MF
_site/
activemq-data/
bin/
out/
build.log
lib/
manifest.yml
overridedb.*
secrets.yml
.git-hooks/
node_modules/