# =========================
# Java / Maven / Gradle
# =========================
/target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

/build/
!/src/main/**/build/
!/src/test/**/build/
!/src/main/**/target/
!/src/test/**/target/

.gradle/
dependency-reduced-pom.xml
.flattened-pom.xml
bin/
out/
lib/

# =========================
# IDE Files
# =========================

## STS / Eclipse ##
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA ##
.idea/
*.iws
*.iml
*.ipr

## NetBeans ##
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code ##
.vscode/

# =========================
# Node / Frontend
# =========================
node_modules/
parkify-frontend/node_modules/

# =========================
# Logs and Crash Reports
# =========================
hs_err_pid*
replay_pid*
build.log
.dump.rdb
.attach_pid*

# =========================
# OS / System Files
# =========================
.DS_Store
*~
*.sw?
.#*
.*.md.html

# =========================
# Misc / Project Specific
# =========================
MANIFEST.MF
_site/
activemq-data/
manifest.yml
overridedb.*
secrets.yml
.git-hooks/
/parking-photos/
/user-photos/
/user-verification/
/vehicle-docs/